<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ASL Translator Landing Page</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.20.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
</head>
<body>
  <h1>ASL Translator</h1>
  <p>Show your hand gestures in front of the camera to see the translated letter or sentence.</p>
  <p>Click the button to translate text into ASL</p>

  <div class="main-wrapper">
    
    <div id="container">
      <img id="video" src="http://127.0.0.1:5001/video_feed" width="600" height="600" alt="Video Feed">
    </div>

  
    <div class="side-panel">
      <button id="mode-button" class="mode-button">Text-to-Speech</button>
      <div id="output" class="output">
        <label class="hope" for="myInput">Detected Gesture:</label>
        <p id="gesture" class="load-text">Loading...</p>
      </div>
      <div class="input invisible">
        <label for="myInput">Input Phrase or Letters: </label>
        <div class="box-for-text">
          <input type="text" id="myInput" class="input-text" placeholder="Type Here">
          <button class="trans-button">Translate</button>
        </div>
      </div>

      
      <button id="play-button" class="play-button">Play Sound</button>
    
      <audio id="audio" src="../output.mp3"></audio>
    </div>
  </div>

  <script src="../js/index.js"></script>
  <script src="../js/video.js"></script>
  <script type="module" src="../js/script.js"></script>
  <script>

    document.getElementById('play-button').addEventListener('click', function() {
      const audio = document.getElementById('audio');
      audio.play();
    });
  </script>
</body>
</html>
